.page-wordcount {
  &.ng-enter {
    -webkit-animation: moveFromTop 1s ease both;
    animation: moveFromTop 1s ease both;
  }
}

#pageTitle,
#insertInputText {
  text-align: center;
  margin: 0 auto;
  padding: 10px;
  color: white;
}

#pageTitle {
  width: 100%;
  height: 100px;
  font: 8em/1 Arial;

  $colors: #360745, #D61C59, #E7D84B, #EFEAC5, #1B8798;

  .text--line {
    font-size: .5em;
  }

  $max: 5;
  $stroke-step: 2%;
  .text-copy {
    fill: none;
    stroke: white;
    stroke-dasharray: $stroke-step $stroke-step * ($max - 1);
    stroke-width: 3px;

    animation: stroke-offset 9s infinite linear;

    @for $item from 1 through $max {
      $stroke-color: nth($colors, $item);

      &:nth-child(#{$item}) {
        stroke: $stroke-color;
        stroke-dashoffset: $stroke-step * $item;
      }
    }
  }

  @keyframes stroke-offset {
    80% {
      stroke-dashoffset: $stroke-step * $max;
      stroke-dasharray: 0 $stroke-step * $max*2.5;
    }
  }
}

#textInput {
  display: block;
  margin: 20px auto 10px;
  resize: none;
  -webkit-box-shadow: 2px 2px 5px steelblue;
  -moz-box-shadow: 2px 2px 5px steelblue;
  box-shadow: 2px 2px 5px steelblue;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  outline: none;
}


.animationControls {
  padding: 2px;
  text-align: center;
  background-color: #FFB266; //rgb(205, 255, 102);
  color: black;

  h4 {
    margin: 20px auto 0;
  }

  p,
  md-slider {
    display: inline-block;
  }

  md-slider{
    width: 400px;
    margin: 0 auto;
    vertical-align: middle;

    .md-track-ticks canvas {
      display: none;
    }
  }
}