<div class="exercise">
    <svg id="pageTitle">
        <symbol id="s-text">
            <text text-anchor="middle"
                  x="50%"
                  y="65px"
                  class="text--line">
                Relative Frequencies Exercise
            </text>
        </symbol>

        <g class="g-ants">
            <use xlink:href="#s-text" class="text-copy"></use>
            <use xlink:href="#s-text" class="text-copy"></use>
            <use xlink:href="#s-text" class="text-copy"></use>
            <use xlink:href="#s-text" class="text-copy"></use>
            <use xlink:href="#s-text" class="text-copy"></use>
        </g>
    </svg>

    <md-radio-group ng-model="mode" ng-change="toggleMode()">
        <div layout-padding>
            <span class="md-headline">Mode</span>
            <md-radio-button value="Practice" class="md-primary">Practice</md-radio-button>
            <md-radio-button value="Test" class="md-primary">Test</md-radio-button>
        </div>
    </md-radio-group>
    <br>

    <div class="btn-group" ng-if="mode === 'Practice'">
        <button type="button"
                class="btn btn-default dropdown-toggle"
                data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
            Choose Exercise <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li><a ng-click="loadExercise('Mapper')">Mapper</a></li>
            <li><a ng-click="loadExercise('Combiner')">Combiner</a></li>
            <li><a ng-click="loadExercise('ShuffleAndSort')">ShuffleAndSort</a></li>
            <li><a ng-click="loadExercise('Reducer')">Reducer</a></li>
        </ul>
    </div>
    <br ng-if="mode === 'Practice'">

    <div class="label label-warning exerciseScore"
         ng-if="currentExercise !== 'Result'">
        Score: {{currentScore}}/{{totalScore}}
    </div>

    <map-reduce-exercise
            name="RelativeFrequencies"
            type="Mapper"
            ng-if="currentExercise === 'Mapper'">
    </map-reduce-exercise>

    <map-reduce-exercise
            name="RelativeFrequencies"
            type="Combiner"
            ng-if="currentExercise === 'Combiner'">
    </map-reduce-exercise>

    <map-reduce-exercise
            name="RelativeFrequencies"
            type="ShuffleAndSort"
            ng-if="currentExercise === 'ShuffleAndSort'">
    </map-reduce-exercise>

    <map-reduce-exercise
            name="RelativeFrequencies"
            type="Reducer"
            ng-if="currentExercise === 'Reducer'">
    </map-reduce-exercise>

    <div class="result" ng-if="currentExercise === 'Result'">
        <p class="md-display-2">Your Final Test Score:</p>
        <p class="md-display-1">{{currentScore}}/{{totalScore}}</p><br>
        <p class="md-title">Mapper Score: {{mapperScore}}/4</p><br>
        <p class="md-title">Combiner Score: {{combinerScore}}/3</p><br>
        <p class="md-title">Shuffle and Sort Score: {{sasScore}}/2</p><br>
        <p class="md-title">Reducer Score: {{reducerScore}}/3</p>
    </div>

    <md-button id="previousExercise"
               class="md-raised"
               ng-if="mode === 'Practice'"
               ng-disabled="currentExercise === 'Mapper'"
               ng-click="loadPreviousExercise()">
        Previous
    </md-button>

    <md-button id="checkExercise"
               class="md-raised"
               ng-if="currentExercise !== 'Result'"
               ng-disabled="mode === 'Test' && answersChecked"
               ng-click="checkAnswers()">
        Check
    </md-button>

    <md-button id="nextExercise"
               class="md-raised"
               ng-if="currentExercise !== 'Result'"
               ng-disabled="currentExercise === 'Reducer' && mode !== 'Test'"
               ng-click="loadNextExercise()">
        Next
    </md-button>

    <md-button id="finishExercise"
               class="md-raised"
               ng-if="mode === 'Test' && currentExercise === 'Result'"
               ng-click="finishTest()">
        Finish
    </md-button>

    <md-button id="moreExercises"
               class="md-raised"
               href="#exercises"
               ng-if="currentExerciseCorrect && currentExercise === 'Reducer'">
        More Exercises...
    </md-button>
</div>