.page-exercises {
  color: black;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  &.ng-enter {
    -webkit-animation: moveFromRight 1s ease both;
    animation: moveFromRight 1s ease both;
  }

  h1 {
    margin: 50px auto;
  }

  p {
    width: 100%;
    text-align: center;
  }
}

.exercises {
  height: 100%;
  background-color: #8BBDB2;
  color: #6F1F00;
  background: url('http://www.vdgh.ca/wp-content/uploads/2015/09/Silver-Blur-Background.jpg') no-repeat center center fixed;
  background-size: cover;
}

.exercise {
  .btn-group {
    margin-bottom: 20px;

    //Adding cursor pointer to bootstrap dropdowns.
    .dropdown-menu > li > a {
      cursor: pointer;
    }
  }

  .exerciseScore {
    display: inline-block;
    margin-bottom: 20px;
    font-size: 1.4em;
  }
}

.exercise,
.jsavmodelanswer {
  .jsavoutput {
    text-align: center;
    font-size: 1.2em;
    margin-top: 10px;
  }

  .jsavcanvas div.jsavautoresize.jsavcenter {
    .jsav-pair {
      min-width: 50%;
      border: 2px solid #8BBDB2;
      background-color: #42505D;

      .jsav-pair-key:hover,
      .jsav-pair-values:hover {
        background-color: #649bb0;
      }

      .jsav-pair-values {
        border-left: 2px solid #8BBDB2;
      }
    }

    .jsav-pair-highlight {
      background-color: #4597a4;
    }

    .idContainer {
      color: white;
      cursor: pointer;
      background-color: #20454e;
      border: 2px solid #49717d;
      border-radius: 5px;

      &:hover {
        background-color: #649bb0;
      }
    }
  }
}

.exercise {
  #mapReduceExercise {
    padding-bottom: 30px;
  }

  .jsavcontainer {
    margin: 0 20%;
    border: 2px solid #ffffff;
    border-radius: 20px;
    text-align: center;
    background-color: black;

    .jsavoutput.jsavline {
      font-size: 1.2em;
    }

    .jsavoutput.jsavline div {
      color: white !important;
    }

    .jsavline {
      height: auto;
    }

    .jsavexercisecontrols {
      input[name="reset"] {
        margin-left: 25px;
        border-top-left-radius: 7px;
        border-bottom-left-radius: 7px;
      }

      input[name="answer"] {
        border-top-right-radius: 7px;
        border-bottom-right-radius: 7px;
      }

      input[name="undo"],
      input[type="button"]:last-of-type {
        display: none;
      }
    }

    .jsavcanvas div.jsavautoresize.jsavcenter {
      .correct {
        background-color: #32CD32;
      }

      .incorrect {
        background-color: #CD0000;
      }
    }
  }

  a.jsavsettings {
    margin: 0 auto;
  }
}

.exerciseDialog {
  color: black;
}