.page-exercises-mean {
  text-align: center;
  height: 980px;
  background-color: #4a0004 !important;

  &.ng-enter {
    -webkit-animation: moveFromTop 1s ease both;
    animation: moveFromTop 1s ease both;
  }

  #mapReduceExercise {
    background-color: #8f4e5a;

    //In WordCount Combiner exercise we require pair highlighting only.
    &[name="Mean"] {
      &[type="Mapper"],
      &[type="Reducer"] {
        .jsav-pair:hover{
          background-color: #649bb0;
        }
      }
    }
  }
}