.page-exercises-relativefrequencies {
  text-align: center;
  height: 1020px;
  background-color: #8f4e5a !important;

  &.ng-enter {
    -webkit-animation: moveFromTop 1s ease both;
    animation: moveFromTop 1s ease both;
  }

  #mapReduceExercise {
    background-color: #9a838a;

    //In WordCount Combiner exercise we require pair highlighting only.
    &[name="RelativeFrequencies"] {
      &[type="Reducer"] {
        .jsav-pair:hover{
          background-color: #649bb0;
        }
      }
    }
  }

  #checkExercise {
    margin-top: 20px;
    background-color: #42505D;
    color: white;
  }

  #nextExercise,
  #moreExercises {
    background-color: #8BBDB2;
  }
}