.page-exercises-relativefrequencies {
  text-align: center;
  height: 1080px;
  background-color: #bf6b4e !important;

  &.ng-enter {
    -webkit-animation: moveFromTop 1s ease both;
    animation: moveFromTop 1s ease both;
  }

  #mapReduceExercise {
    background-color: #9a838a;

    //In WordCount Combiner exercise we require pair highlighting only.
    &[name="RelativeFrequencies"] {
      &[type="Reducer"] {
        .jsav-pair:hover{
          background-color: #649bb0;
        }
      }
    }
  }
}