.page-exercises-wordcount {
  text-align: center;
  height: 1000px;
  background-color: #0d1e37 !important;

  &.ng-enter {
    -webkit-animation: moveFromBottom 1s ease both;
    animation: moveFromBottom 1s ease both;
  }

  #mapReduceExercise {
    background-color: #2290a6;

    //In WordCount Combiner exercise we require pair highlighting only.
    &[name="WordCount"] {
      &[type="Combiner"] {
        .jsav-pair:hover{
          background-color: #649bb0;
        }
      }
    }
  }
}