<div>
    <svg id="pageTitle">
        <symbol id="s-text">
            <text text-anchor="middle"
                  x="50%"
                  y="65px"
                  class="text--line">
                Mean
            </text>
        </symbol>

        <g class="g-ants">
            <use xlink:href="#s-text" class="text-copy"></use>
            <use xlink:href="#s-text" class="text-copy"></use>
            <use xlink:href="#s-text" class="text-copy"></use>
            <use xlink:href="#s-text" class="text-copy"></use>
            <use xlink:href="#s-text" class="text-copy"></use>
        </g>
    </svg>

    <div id="menu">
        <div id="menuInput">
            <div class="input-group">
                <span class="input-group-addon">Key</span>
                <input id="meanKeyInput"
                       type="text"
                       class="form-control"
                       placeholder="Key"
                       aria-describedby="meanKeyInput"
                       ng-model="keyInput">

                <span class="input-group-addon">Integer</span>
                <input id="meanIntegerInput"
                       type="number"
                       class="form-control"
                       placeholder="Integer"
                       aria-describedby="meanIntegerInput"
                       ng-model="intInput">
            </div>

            <md-button id="addToListBtn"
                       class="md-raised md-primary"
                       ng-disabled="!keyInput || !intInput"
                       ng-click="addToList()">
                Add to List
            </md-button>

            <md-button id="addSampleDataBtn"
                       class="md-raised md-primary"
                       ng-click="addSampleData()">
                Use Sample Data
            </md-button>

            <p>Mean Input List:</p>
            <div id="meanInputList" class="well"></div>

            <md-button id="removeFromListBtn"
                       class="md-raised md-primary"
                       ng-show="hasSelectedElements()"
                       ng-click="removeSelectedElements()">
                Remove
            </md-button>
        </div>

        <animation-menu name="Mean"
                        input="inputList">
        </animation-menu>
    </div>

    <map-reduce></map-reduce>

    <footer class="navbar-fixed-bottom">
        <animation-controls></animation-controls>
    </footer>
</div>