.page-home {
  color: black;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  &.ng-enter {
    -webkit-animation: moveFromRight 1s ease both;
    animation: moveFromRight 1s ease both;
  }

  section {
    display: inline-block;
  }

  .btn {
    display: block;
    float: left;
    padding: 60px 0 0 0;
    margin: 12px;
    color: white;
    background-color: indianred;
    box-sizing: border-box;
    font-size: 15px;
    width: 150px;
    height: 150px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
    border-radius: 150px;
    transition: all 500ms;
  }

  .btn:hover {
    background-color: #A44949;
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
  }
}

.home {
  height: 100%;
  background-color: #FFB266;
  color:#a55400;
}
