.page-about {
  height: 100%;
  color: black;

  &.ng-enter {
    -webkit-animation: moveFromLeft 1s ease both;
    animation: moveFromLeft 1s ease both;
  }

  h2 {
    text-align: center;
    font-family: "Chalkduster", "Minion Pro", "Times";
    font-weight: bold;
    font-size: 2em;
    padding-bottom: 10px;
  }

  p {
    font-family: "Minion Pro";
    font-size: 1.5em;
  }

  div {
    text-align: justify;
    padding: 2% 10%;

    .center {
      text-align: center;
    }

    .read-toggle {
      float: right;
      cursor: pointer;
      font-weight: bold;
      outline: none;
    }

    &#about-mapreduce {
      background-color: #F1625C;
    }

    &#about-thesite {
      background-color: #F5B659;
    }

    &#about-wordcount {
      background-color: #F2ECBC;
    }

    &#about-mean {
      background-color: #8BBDB2;
    }

    &#about-rf {
      background-color: #9a838a;
    }
  }
}