#map {
  padding-top: 20px; }

#reduce {
  margin-bottom: 72px; }

.jsavsettings-dialog {
  color: black; }

.mapReduceSection {
  background-color: black;
  display: flex;
  flex-flow: column nowrap; }
  .mapReduceSection .processTitle {
    border-top: 2px solid white;
    background-color: #014579;
    text-align: center;
    padding: 10px;
    margin: 0;
    outline: none;
    cursor: pointer; }
  .mapReduceSection .processTitle:hover {
    background-color: lightslategrey; }
  .mapReduceSection .animationContainer {
    display: flex;
    justify-content: space-around; }
    .mapReduceSection .animationContainer .jsavcontainer {
      border: 2px ridge cornflowerblue;
      background: none;
      padding: 10px;
      margin: 10px; }
      .mapReduceSection .animationContainer .jsavcontainer h4 {
        text-align: center; }
      .mapReduceSection .animationContainer .jsavcontainer span.jsavbegin, .mapReduceSection .animationContainer .jsavcontainer span.jsavbackward, .mapReduceSection .animationContainer .jsavcontainer span.jsavforward, .mapReduceSection .animationContainer .jsavcontainer span.jsavend {
        background-color: steelblue;
        color: white;
        border: 2px solid white; }
        .mapReduceSection .animationContainer .jsavcontainer span.jsavbegin:hover, .mapReduceSection .animationContainer .jsavcontainer span.jsavbackward:hover, .mapReduceSection .animationContainer .jsavcontainer span.jsavforward:hover, .mapReduceSection .animationContainer .jsavcontainer span.jsavend:hover {
          background-color: rgba(18, 181, 230, 0.7); }
      .mapReduceSection .animationContainer .jsavcontainer .jsavcounter {
        position: absolute;
        top: 15px; }
      .mapReduceSection .animationContainer .jsavcontainer .jsavoutput.jsavline {
        height: auto;
        margin: 0 auto; }
        .mapReduceSection .animationContainer .jsavcontainer .jsavoutput.jsavline div {
          color: white !important; }
      .mapReduceSection .animationContainer .jsavcontainer .jsavcanvas {
        min-width: auto !important;
        min-height: auto !important;
        height: auto; }
        .mapReduceSection .animationContainer .jsavcontainer .jsavcanvas div.jsavautoresize.jsavcenter.jsavarray {
          height: 70px !important;
          overflow: auto; }
        .mapReduceSection .animationContainer .jsavcontainer .jsavcanvas .jsavlabel {
          font-size: 1.1em; }
        .mapReduceSection .animationContainer .jsavcontainer .jsavcanvas .jsavnode.jsavindex {
          background-color: darkgray;
          border: 2px solid white; }
        .mapReduceSection .animationContainer .jsavcontainer .jsavcanvas .jsavnode.jsavindex.jsavhighlight {
          background-color: orange !important; }
        .mapReduceSection .animationContainer .jsavcontainer .jsavcanvas .jsavvaluelabel {
          padding: 5px; }
        .mapReduceSection .animationContainer .jsavcontainer .jsavcanvas .jsav-pair {
          border: 2px solid white;
          color: black; }
          .mapReduceSection .animationContainer .jsavcontainer .jsavcanvas .jsav-pair .jsav-pair-key {
            background-color: orange; }
          .mapReduceSection .animationContainer .jsavcontainer .jsavcanvas .jsav-pair .jsav-pair-values {
            background-color: cornflowerblue;
            border-left: 2px solid white; }
          .mapReduceSection .animationContainer .jsavcontainer .jsavcanvas .jsav-pair .jsav-pair-key:hover,
          .mapReduceSection .animationContainer .jsavcontainer .jsavcanvas .jsav-pair .jsav-pair-values:hover {
            background-color: rgba(255, 255, 255, 0.7); }
        .mapReduceSection .animationContainer .jsavcontainer .jsavcanvas .idContainer.MapperId,
        .mapReduceSection .animationContainer .jsavcontainer .jsavcanvas .idContainer.ReducerId {
          border: 2px solid white;
          background-color: silver; }

/*# sourceMappingURL=MapReduce.css.map */
