<div class="exercise">
    <svg id="pageTitle">
        <symbol id="s-text">
            <text text-anchor="middle"
                  x="50%"
                  y="65px"
                  class="text--line">
                Word Count Exercise
            </text>
        </symbol>

        <g class="g-ants">
            <use xlink:href="#s-text" class="text-copy"></use>
            <use xlink:href="#s-text" class="text-copy"></use>
            <use xlink:href="#s-text" class="text-copy"></use>
            <use xlink:href="#s-text" class="text-copy"></use>
            <use xlink:href="#s-text" class="text-copy"></use>
        </g>
    </svg>

    <map-reduce-exercise
            name="WordCount"
            type="Mapper"
            ng-if="currentExercise === 'Mapper'">
    </map-reduce-exercise>

    <map-reduce-exercise
            name="WordCount"
            type="Combiner"
            ng-if="currentExercise === 'Combiner'">
    </map-reduce-exercise>

    <map-reduce-exercise
            name="WordCount"
            type="ShuffleAndSort"
            ng-if="currentExercise === 'ShuffleAndSort'">
    </map-reduce-exercise>

    <map-reduce-exercise
            name="WordCount"
            type="Reducer"
            ng-if="currentExercise === 'Reducer'">
    </map-reduce-exercise>

    <md-button id="checkExercise"
               class="md-raised"
               ng-click="checkAnswers()">
        Check Exercise
    </md-button>

    <md-button id="nextExercise"
               class="md-raised"
               ng-if="currentExerciseCorrect && currentExercise !== 'Reducer'"
               ng-click="loadNextExercise()">
        Next Exercise
    </md-button>

    <md-button id="moreExercises"
               class="md-raised"
               href="#exercises"
               ng-if="currentExerciseCorrect && currentExercise === 'Reducer'">
        More Exercises...
    </md-button>
</div>