<div>
    <md-button id="menuOptionsToggleBtn" class="md-fab md-primary" ng-click="toggleMenu()">
        MENU
    </md-button>

    <div id="menuOptions">
        <md-checkbox class="mapperPerLine md-primary"
                     ng-click="toggleMapperPerLine()"
                     ng-if="showMapperPerLine">
            Mapper per Line (Use line break)
        </md-checkbox>

        <md-checkbox class="mapperPerLine md-primary"
                     ng-click="toggleUseCombiners()">
            Use Combiners
        </md-checkbox>

        <md-checkbox class="mapperPerLine md-primary"
                     ng-click="toggleShowPartitioners()">
            Show Partitioners
        </md-checkbox>

        <br/>

        <p class="menuText">Number of Mappers:</p>
        <input type="number"
               id="numberOfMappersInput"
               value="1" min="1" max="10"
               ng-disabled="mapperPerLine">
        <br/>

        <p class="menuText">Number of Reducers:</p>
        <input type="number"
               id="numberOfReducersInput"
               value="1" min="1" max="10">

        <md-button id="runMapReduceBtn"
                   class="md-raised"
                   ng-disabled="!(userInput.length > 0)"
                   ng-click="runMapReduce()">
            Run MapReduce
        </md-button>

        <h3 ng-show="showLoader">Loading Animation...</h3>
        <md-progress-circular class='md-hue-2'
                              md-diameter='80'
                              md-mode='indeterminate'
                              ng-show="showLoader">
        </md-progress-circular>
    </div>
</div>